


<div id="sketch-holder" style="height: 85vh; touch-action: none;"></div>

<form action="/save_sketch" method="post">
    <label for="name">Name of drawing: </label>
<input type="text" name="name" placeholder="name">
    <input type="submit">
</form>

<!-- P5JS -->
<script src="/javascripts/p5/p5.js"></script>
<!-- <script src="/javascripts/p5/p5.sound.js"></script> -->
<script src="/javascripts/p5/sketch.js"></script>